<li>
    <div class="topico">
        <h4>titulo do Topico</h4>
        <div class="autoria">
            <span>Escrito por Fulano, </span>
            <span>dd de MM de AAAA</span>
        </div>
    </div>
    <div class="info">
        <div class="respostas">
            <span>X</span>
            <span>responsta</span>
        </div>
        <div class="visualizacoes">
            <span>X</span>
            <span>visualizacoes</span>
        </div>
    </div>
    <div class="ultima-resposta">
        <div class="img-usuario">
            <img src="#" alt="foto usuario" srcset="">
        </div>
        <div class="info-usu">
            <span>NOME USUARIO</span>
            <span>tempo ultima resposta</span>
        </div>
    </div>
</li>