<div class="article-card">
  <a [routerLink]="['/article', id]">
    <div class="article-image">
      <ng-container *ngIf="imagemUrl; else placeholder">
        <img [src]="imagemUrl" alt="card" class="card-image">
      </ng-container>
    
      <ng-template #placeholder>
        <div class="card-placeholder">
          <p class="placeholder-text">IMAGEM ARTIGO</p>
        </div>
      </ng-template>
    </div>
  
    <div class="article-content">
      <h3 class="article-title">{{ titulo }}</h3>
      <p class="article-resumo">{{ resumo }}</p>
      <p class="article-info">Há {{ tempo }} - Por {{ autor }}</p>
  
      <div class="article-tags">
        <span *ngFor="let tag of tags">#{{ tag }}</span>
      </div>
    </div>
  </a>
</div>
