<div class="card-article-mini" (click)="irParaArtigo()">
  <div class="img-container">
    <ng-container *ngIf="imagemUrl; else placeholder">
        <img [src]="imagemUrl" alt="Banner" class="banner-image">
      </ng-container>
    
      <ng-template #placeholder>
        <div class="banner-placeholder">
          <p class="placeholder-text">IMAGEM BANNER</p>
        </div>
      </ng-template>
  </div>
  <h3>{{ titulo }}</h3>
  <p>
    {{ resumo | slice : 0 : 100 }}...
    <span class="leia-mais">Leia mais</span>
  </p>
</div>
