.store-navbar__container{
    padding: 0 1.20rem;
    min-height: 65px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--primary-color);
}

.store-logo{
    object-fit: cover;
    position: absolute;
    min-height: 64px;
    display: flex;
    align-items: stretch;
    >img{
        width: 154px;
        height: auto;
    }
}

.store__navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.store__nav-list, .cart-link{
    margin-top: 0.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.store__nav-item{
    padding: 4px 10px;
    font-size: .9rem;
    font-weight: 700;
    border-radius: 2rem;
    transition: .7s;
    
    &:hover{
        background-color: #e3e3e4;
        a{color: #000000;}
    }
    a{
        text-decoration: none;
        color: #ffffff;
    }
}

.selected{
    background-color: #e3e3e4;
    color: #000000;
}

.cart-link {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: inherit;
}


.cart-icon {
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1); /* se o fundo for escuro */
  transition: transform .2s ease;
}

.cart-link:hover .cart-icon {
  transform: scale(1.1);
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #ff4444;
  color: #fff;
  font-size: 0.7rem;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}