<section class="store-navbar__container">
  <section class="store-logo">
    <a [routerLink]="['']">
      <img class="logo-img" src="/assets/icons/logo_branco_600.png" alt="logo BookWorm">
      <h1 class="logo-title">BookWorm</h1>
    </a>
  </section>

  <nav class="store__navbar">
    <ul class="store__nav-list">
      <li class="store__nav-item">
        <a [routerLink]="['']" routerLinkActive="selected">Home</a>
      </li>
      <li class="store__nav-item">
        <a [routerLink]="['/articles']" routerLinkActive="selected">Artigos</a>
      </li>
      <li class="store__nav-item">
        <a [routerLink]="['/bazar']" routerLinkActive="selected">Bazar</a>
      </li>

      <!-- Autenticado -->
      <ng-container *ngIf="isAuth(); else guestLinks">
        <!-- Minha Estante sempre visível -->
        <li class="store__nav-item">
          <a [routerLink]="['/bookcase']" routerLinkActive="selected">Minha Estante</a>
        </li>

        <!-- Dropdown Minha conta -->
        <li class="store__nav-item account" [class.open]="accountOpen">
          <button
            class="account-btn"
            type="button"
            aria-haspopup="true"
            [attr.aria-expanded]="accountOpen"
            (click)="toggleAccount()"
          >
            Minha conta
            <span class="chevron" [class.up]="accountOpen">▾</span>
          </button>

          <ul class="account-dropdown" role="menu">
            <li role="none">
              <a role="menuitem" [routerLink]="['/meu-bazar']" routerLinkActive="selected" (click)="closeAccount()">Meu Bazar</a>
            </li>
            <li role="none">
              <a role="menuitem" [routerLink]="['/negociacoes']" routerLinkActive="selected" (click)="closeAccount()">Minhas Negociações</a>
            </li>
            <li role="none">
              <a role="menuitem" [routerLink]="['/my-profile']" routerLinkActive="selected" (click)="closeAccount()">Meu Perfil</a>
            </li>
            <li role="none">
              <button role="menuitem" type="button" class="logout-btn" (click)="onLogout()">Sair</button>
            </li>
          </ul>
        </li>
      </ng-container>

      <!-- Visitante -->
      <ng-template #guestLinks>
        <li class="store__nav-item">
          <a [routerLink]="['/login']" routerLinkActive="selected">Login</a>
        </li>
      </ng-template>
    </ul>

    <a routerLink="/carrinho" class="cart-link">
      <img src="/assets/icons/grocery-store.png" alt="Carrinho" class="cart-icon" />
      <span class="badge">{{ cart.count$ | async }}</span>
    </a>
  </nav>
</section>
