<section class="store-navbar__container">
    <section class="store-logo">
        <img src="../../../assets/svg/PlayStation Store.svg" alt="logo BookWorm">
    </section>
    <nav class="store__navbar">
        <ul class="store__nav-list">
            <li class="store__nav-item"><a [routerLink]="['']" >Home</a></li>
            <li class="store__nav-item"><a [routerLink]="['/articles']" >Artigos</a></li>
            <li class="store__nav-item"><a [routerLink]="['/bookcase']" >Estante</a></li>
            <li class="store__nav-item"><a [routerLink]="['/bazar']" >Bazar</a></li>
            <li class="store__nav-item"><a [routerLink]="['/forum']" >Forum</a></li>
            <li class="store__nav-item"><a [routerLink]="['/subscription']" >Assinatura</a></li>
            <li class="store__nav-item"><a [routerLink]="['/login']" >Login</a></li>
            <li class="store__nav-item"><a [routerLink]="['/signup']">Cadastro</a></li>
        </ul>

        <!-- Exemplo em algum header.component.html -->
<a routerLink="/carrinho" class="cart-link">
  Carrinho <span class="badge">{{ cart.count$ | async }}</span>
</a>

    </nav>
</section>