<section class="store-navbar__container">
    <section class="store-logo">
        <img class="logo-p" src="/assets/icons/Logo_Nome_Branco.png" alt="logo BookWorm">
    </section>
    <nav class="store__navbar">
        <ul class="store__nav-list">
            <li class="store__nav-item"><a [routerLink]="['']" routerLinkActive="selected" >Home</a></li>
            <li class="store__nav-item"><a [routerLink]="['/articles']" routerLinkActive="selected">Artigos</a></li>
            <li class="store__nav-item"><a [routerLink]="['/bazar']" routerLinkActive="selected">Bazar</a></li>

            <ng-container *ngIf="isAuth(); else guestLinks">
                <li class="store__nav-item"><a [routerLink]="['/meu-bazar']" routerLinkActive="selected">Meu Bazar</a></li>
                <li class="store__nav-item"><a [routerLink]="['/negociacoes']" routerLinkActive="selected">Minhas Negociações</a></li>
                <li class="store__nav-item"><a [routerLink]="['/bookcase']" routerLinkActive="selected">Minha Estante</a></li>
                <li class="store__nav-item"><a [routerLink]="['/my-profile']" routerLinkActive="selected">Meu Perfil</a></li>
                <li class="store__nav-item"><a (click)="logout()" routerLinkActive="selected">Logout</a></li>
            </ng-container>

            <ng-template #guestLinks>
                <li class="store__nav-item"><a [routerLink]="['/login']" routerLinkActive="selected">Login</a></li>
            </ng-template>

        </ul>

        <a routerLink="/carrinho" class="cart-link">
            <img src="/assets/icons/grocery-store.png" alt="Carrinho" class="cart-icon" />
            <span class="badge">{{ cart.count$ | async }}</span>
        </a>

    </nav>
</section>