<main>
  <div class="bookshelf-container">
    <h2>Minha Estante</h2>

    <div class="shelf-grid">
      <app-card-collection
        *ngFor="let collection of (collections$ | async) ?? []"
        [id]="collection._id"
        [name]="collection.name"
        [image]="collection.coverImage || ''"
        (edit)="editCollection($event)"
        (remove)="deleteCollection($event)"
      ></app-card-collection>

      <!-- Card de adicionar nova coleção -->
      <div class="add-card" (click)="createCollection()">
        <div class="plus-icon">+</div>
        <div class="collection-title">Nova Coleção</div>
      </div>
    </div>
  </div>
</main>
