<main class="auth-main">
  <section class="auth-card">
    <h2>Entrar</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>E-mail</label>
      <input type="email" formControlName="email" placeholder="seu@email.com" />

      <label>Senha</label>
      <input type="password" formControlName="password" placeholder="••••••••" />

      <button type="submit" [disabled]="loading">Entrar</button>
      <p class="error" *ngIf="error">{{ error }}</p>
    </form>

    <a routerLink="/signup" class="link">Não tem conta? Cadastre-se aqui</a>
  </section>
</main>
