* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2a9d8f; /* Verde principal */
    --secondary-color: #264653; /* Azul escuro */
    --background-color: #ffffff; /* Fundo */
    --text-color: #333333; /* Texto padrão */
    --border-color: #e0e0e0; /* Para bordas suaves */
    --muted-text-color: #666666; /* Para datas e textos secundários */
    --highlight-color: #e9f5f3; /* Cor de destaque leve (variação do primary) */
}

main {
    max-width: 72rem;
    margin: 0 auto;
    background-color: var(--background-color);
}