* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-background);
}

:root {
--color-primary: #8B1E3F;
  --color-secondary: #D6C295;
  --color-background: #F9F5EC;
  --color-background-alt: #EFE8D8;
  --color-text: #3B2F2F;
  --color-text-secondary: #6B5A4D;
  --color-text-on-dark: #F7EFE3;
  --color-highlight: #4E8C56;
  --color-success: #83A66A;
  --color-warning: #C9A45C;
  --color-error: #C65D52;
  --color-border: #111111;

}

main {
    max-width: 72rem;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--color-background);
}

