.book-main {
  display: flex;
  gap: 24px;
  margin: 20px 0 32px 0;
}

.book-cover img {
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.book-info {
  flex: 1;
  padding: .5rem;
}

.book-info h2 {
  margin-bottom: 20px;
  color: var(--color-text);
}

.book-synopsis {
  margin-top: 16px;
  font-size: 14px;
  color: var(--color-text);
}

.book-marketplace h3 {
  margin-bottom: 16px;
  color: var(--color-text);
}

.offer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.offer-card {
  border: 1px solid var(--border-color);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-background);
}

.offer-card button {
  background-color: var(--color-primary);
  color: var(--color-text-on-dark);
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.book-cover-wrapper {
  width: 300px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-alt);
}

.book-cover-wrapper img {
  width: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.empty-cover {
  width: 255px;
  height: 316px;
  background-color: var(--color-background-alt);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-text {
  color: var(--color-text-secondary);
  font-size: 1rem;
  font-style: italic;
}
